---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
  border-radius: 0; /* Set border-radius to 0 to remove the round crop effect */
  border: 0px;
  max-width: 100%;
}

.page__hero--overlay .page__lead {
  max-width: 1500px;
}

.archive {
  padding-right: 100px;
}

