---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
  border-radius: 0; /* Set border-radius to 0 to remove the round crop effect */
  border: 0px;
  max-width: 100%;
}

.page__hero--overlay .page__lead {
  max-width: 1500px;
}

@media (min-width: 80em) {
.archive {
  padding-right: 100px;
}
}

.page__hero-image {
	max-width: 1200px;
}

.page__hero {
	text-align: center;
}

@media (min-width: 80em) {
  #main {
    max-width: 1700px;
  }
}

.page .page__inner-wrap .page__content, .page .page__inner-wrap .page__meta, .page .page__inner-wrap .comment__date, .page .page__inner-wrap .page__share {
	text-align: justify;
}
