---
layout: default
---

{% if page.author %}
  {% assign author = site.data.authors[page.author] %}


<link rel="stylesheet" href="/assets/css/header-people.css">
<div id="main" role="main">
		
	<div class='author-header'>
			<div class="author-stat">
				<h1>{{ author.name }}</h1>
				<!--<p class="author-bio">{{ author.bio }}</p>-->
				{% if author.start %}
					<span style="font-style: italic;"> Started on 
					<time datetime="{{ author.start | date: "%Y-%m-%d" }}">
						{{ author.start | date: "%B %d, %Y" }}
					</time>
					</span>
					<br>
				{% endif %}
				{{author.email}} <br><br>
				{% if author.topics %}
					<b>Expertise:</b> {{author.topics}} <br><br>
				{% endif %}
				{% if author.social %}
			</div>
			<div class="author-follow">
					<b>Follow_me:</b><br>
					{% for link in author.social %}
					{% assign url = link[1][1] | split: '//' %}
					{% assign domain = url[1] | split: '/' %}
					<span style="display:inline-block; width: 10px;"></span>
					<img src="https://www.google.com/s2/favicons?domain={{url[0]}}//{{domain[0]}}" alt="{{link[1][0]}}">
						<a href={{link[1][1]}} target="_blank">{{link[1][0]}}</a>
						<br>
					{% endfor%}
				{% endif %}

			</div>
			<div class='author-picture'>
				<img src="{{ site.url }}/assets/people/{{ author.avatar }}" alt="{{ author.name }}">
			</div>
		</div>
			<div id="content" class="author-col" itemprop="articleBody">
				
				{{ content }}

				<hr />
				
				<footer class="page-footer">
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
</div><!-- /#main -->

{% else %}
<div class="page-title">
	<h1> You need to fill the author field in the front matter</h1>
</div>
{% endif %}
